/*******************************          
         layout.less: @import "../../@{sitename}/semantic/src/themes/default/globals/site.variables"   
*******************************/       
@import "../semantic/src/themes/default/globals/site.variables";      
     
/*******************************                   
         layout.less: @import (optional) "../../@{sitename}/semantic/src/site/globals/site.variables"   
*******************************/
@import (optional) "../semantic/src/site/globals/site.variables";   

@font-face {
    font-family: 'PierceJamesonSans';
    src:url('font/Pierce Jameson Sans.eot'); 
    src:url('font/Pierce Jameson Sans.eot?#') format('eot'),    
        url('font/Pierce Jameson Sans.woff') format('woff');
}
@font-face {
    font-family: 'MyriadPro';
    src:url('font/Myriad Pro Light.otf'); 
}
@lightGray: darken(#f7f7f7, 1); 
h1,
h2,
h3,
h4,
h5 {
    font-family: "PierceJamesonSans" !important;
}
main a{
    font-weight: 700;
}
header{
    img{
        max-height: 822px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}
nav{
    padding: 0.8rem 0 0.5rem;
    .container > div, 
    .container > div > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .lang-de{
        margin-right: 0.8rem;
        a{
            color: @white;
            padding: 6px 12px;
            background-color: @linkColor;
            border-radius: 5px;
            text-decoration: none;
            transition: 0.3s all;
            &:hover{
                background-color: darken(@linkColor, 3)
            }
        }
    }
    #open-menu, .open-menu{
        cursor: pointer;
        
    }
    #close-menu, .close-menu{ 
        display: none;
        cursor: pointer;
    }
    &.sticky{
        top:0;
        position: sticky;
        background-color: @white;
        z-index: 102;
    }
    &:not(.sticky){
        position: absolute;
        background-color: @black;
        color: white;
        z-index: 105;
        width: 100%;
        > div{
            position: relative;
        }
    }
}
#menu{
    display: none;
    position: fixed;
    top: 0;
    right: 10%;
    padding: 80px 0px 30px;
    z-index: 100;
    -webkit-animation: animateright 0.4s;
    animation: animateright 0.4s;
    .ui.tree.accordion,{
        background-color: @white;
        color: @textColor;
        > li, > li > a{
            line-height: 1.5;
            color: @primaryColor !important;
            text-transform: uppercase;
        }
        li a{
            text-decoration: none;
            color: @textColor;
            &:hover{
                color: @primaryColor;
            }
        }
        li.content{
            padding: 0;
        }
        .accordion li{
            padding: 5px 0;
            text-transform: none;
        }
    }
    ul{
        list-style: none;
        li{
            &:not(.title){
                padding: .5em 0;
            }
        }
    }
    
    @-webkit-keyframes animateright {
      from {
        right: -300px;
        opacity: 0;
      }
      to {
        right: 10%;
        opacity: 1;
      }
    }
    @keyframes animateright {
      from {
        right: -300px;
        opacity: 0;
      }
      to {
        right: 10%;
        opacity: 1;
      }
    }
}
h3 + .gray-box{
    margin-top: 2rem;
}
.gray-box{
    background-color: @lightGray;
    margin: 10px 0;
    &:not(.image){
        border-radius: 5px;
        padding: 0 15px; 
    }
    &.image{
        padding: 0 20px 0 0;
        border-radius: 0;
        &.right{
            padding: 0 0 0 20px;
        }
        img{
            margin: -20px 0;
        }
    }
}
.titulni{
    margin-top: 2rem;
    .segment{
        font-size: @big;
    }
}
.o-nas{
    .five.wide{
        img{
            height: 315px;
            width: 100%;
            object-fit: cover;
        }
    }
}
.text-above-image{
    position: relative;
    img{
        height: 500px;
        max-width: 100%;
        object-fit: cover;
        object-position: top center;
    }
    .overlay-text{
        .ui.header{
            margin: 1rem 0 0.3rem;
        }
        position: absolute;
        height: 200px;
        width: 100%;
        bottom: 0;
        padding: 0 15px;
        background-color: rgba(255,255,255, 0.9);
        text-wrap: balance;
        > p:first-of-type{
            height: 7.5ex
        }
    }
}
.kariera{
    
}
.ui.segment{
    background-color: @lightGray;
}
.ui.form:not(.initial) .field input:invalid{
    background-color: @white;
}
.nase-produkty{
    .ui.segment{
        img{
            max-height: 200px;
            object-fit: contain;
            &.logo-stamp{
                position:relative;
                top: -42px;
                max-height: 300px;
            }
        }
    }
}
footer{
    margin-top: 3rem;
    .container{
        padding: 3rem 0; 
    }
    a{
        text-decoration: none;
        color: @textColor;
        &:hover{
            color: @primaryColor;
            text-decoration: none;
        }
    }
}